In [1]:
# load a geojson file and a csv file and join them together
# the csv file contains the deprivation data and the geojson file contains the geometries
# the output is a geojson file with the geometries and the deprivation data

import pandas as pd
import geopandas as gpd

boundaries = gpd.read_file('./sources/CSO_Electoral_Divisions_Generalised_20m_-_National_Statistical_Boundaries__-_2015_.geojson')

# Make sure the CSOED_3409 column is an integer, for reliable joining to the deprivation data
boundaries['CSOED_3409'] = boundaries['CSOED_3409'].astype(int)
boundaries.head()

,OBJECTID_1,ED_ID,ED_ENGLISH,ED_GAEILGE,COUNTY,CONTAE,PROVINCE,CENTROID_X,CENTROID_Y,GUID_,CSOED_3409,OSIED_3441,CSOED_34_1,SHAPE_Length,SHAPE_Area,geometry
0,15,267070,DUN LAOGHAIRE-MONKSTOWN FARM,,DUBLIN,Baile Átha Cliath,Leinster,723015.645073823,727533.911068726,2AE196291D3D13A3E055000000000001,5045,267070,Dún Laoghaire-Monkstown Farm,0.033974,0.000046,"MULTIPOLYGON (((-6.14619 53.28349, -6.14810 53..."
1,36,267090,FOXROCK-TORQUAY,,DUBLIN,Baile Átha Cliath,Leinster,721255.15118901,726216.763156124,2AE196291D7C13A3E055000000000001,5056,267090,Foxrock-Torquay,0.052978,0.000130,"MULTIPOLYGON (((-6.18041 53.27607, -6.17807 53..."
2,45,268025,BEAUMONT E,,DUBLIN,Baile Átha Cliath,Leinster,718194.731015585,737970.99825099,2AE196291D2313A3E055000000000001,2025,268025,Beaumont E,0.034612,0.000043,"MULTIPOLYGON (((-6.22254 53.38053, -6.22286 53..."
3,51,267158,THE WARD,,DUBLIN,Baile Átha Cliath,Leinster,708916.697204128,742752.09622067,2AE196291CE813A3E055000000000001,4041,267158,The Ward,0.315850,0.003336,"MULTIPOLYGON (((-6.34697 53.45360, -6.34454 53..."
4,67,267023,BLACKROCK-NEWPARK,,DUBLIN,Baile Átha Cliath,Leinster,721885.928019708,727829.506141546,2AE196291CC113A3E055000000000001,5013,267023,Blackrock-Newpark,0.035122,0.000068,"MULTIPOLYGON (((-6.16683 53.29051, -6.16826 53..."

In [3]:
# Load deprivation data and filter for Dublin City
deprivation = pd.read_csv('./sources/HP-Index-2006-2016-HP-Index-Scores-by-ID06b2.csv', encoding='ISO-8859-1')

# Filter for Dublin City
deprivation_dublin = deprivation[deprivation['NUTS4'] == 'Dublin City']
deprivation_dublin.head()

,ID06,ED_Name,NUTS4,NUTS3,NUTS2,NUTS1,HP2006abs,HP2011abs,HP2016abs,HP2006rel,...,PEROOM16,LARENT06,LARENT11,LARENT16,PRRENT06,PRRENT11,PRRENT16,OHOUSE06,OHOUSE11,OHOUSE16
54,2001.0,ARRAN QUAY A,Dublin City,Dublin,Southern & Eastern Region,Ireland,3.3,-2.6,1.0,3.3,...,0.6,11.3,10.1,12.8,45.7,55.2,53.6,41.5,32.5,31.9
55,2002.0,ARRAN QUAY B,Dublin City,Dublin,Southern & Eastern Region,Ireland,3.6,-0.3,1.9,3.6,...,0.8,11.0,10.3,13.9,59.4,66.8,64.6,28.7,22.1,20.4
56,2003.0,ARRAN QUAY C,Dublin City,Dublin,Southern & Eastern Region,Ireland,9.1,5.3,6.0,9.1,...,1.0,15.5,13.6,14.6,63.5,72.3,71.2,20.3,13.5,13.6
57,2004.0,ARRAN QUAY D,Dublin City,Dublin,Southern & Eastern Region,Ireland,-6.4,-6.8,-0.3,-6.4,...,0.9,29.5,20.9,14.2,30.9,42.4,44.9,38.8,35.8,39.3
58,2005.0,ARRAN QUAY E,Dublin City,Dublin,Southern & Eastern Region,Ireland,-0.3,-3.6,1.8,-0.3,...,0.5,12.9,11.8,13.4,31.8,44.9,46.9,54.3,41.9,38.1

In [4]:
# Cast the ID6 column to integer, for reliable matching them to electoral divisions
dublin_electoral_divisions = deprivation_dublin['ID06'].astype(int)

# Filter boundaries to only include electoral divisions in Dublin
boundaries_dublin = boundaries[boundaries['CSOED_3409'].isin(dublin_electoral_divisions)]
boundaries_dublin.head(5)

,OBJECTID_1,ED_ID,ED_ENGLISH,ED_GAEILGE,COUNTY,CONTAE,PROVINCE,CENTROID_X,CENTROID_Y,GUID_,CSOED_3409,OSIED_3441,CSOED_34_1,SHAPE_Length,SHAPE_Area,geometry
2,45,268025,BEAUMONT E,,DUBLIN,Baile Átha Cliath,Leinster,718194.731015585,737970.99825099,2AE196291D2313A3E055000000000001,2025,268025,Beaumont E,0.034612,0.000043,"MULTIPOLYGON (((-6.22254 53.38053, -6.22286 53..."
5,94,268043,CLONTARF EAST C,,DUBLIN,Baile Átha Cliath,Leinster,719746.371399413,736388.988063024,2AE196291D4513A3E055000000000001,2039,268043,Clontarf East C,0.047301,0.000111,"MULTIPOLYGON (((-6.19451 53.36919, -6.19618 53..."
8,110,268017,BALLYMUN C,,DUBLIN,Baile Átha Cliath,Leinster,715851.420682194,739831.584372745,2AE196291D0D13A3E055000000000001,2017,268017,Ballymun C,0.042036,0.000106,"MULTIPOLYGON (((-6.25183 53.39913, -6.25216 53..."
10,144,268127,RATHFARNHAM,,DUBLIN,Baile Átha Cliath,Leinster,715221.113161602,730115.937147592,2AE196291DD213A3E055000000000001,2133,268127,Rathfarnham,0.069255,0.000166,"MULTIPOLYGON (((-6.25896 53.30834, -6.25963 53..."
12,157,268002,ARRAN QUAY B,,DUBLIN,Baile Átha Cliath,Leinster,714510.229550955,735206.610141875,2AE196291CEC13A3E055000000000001,2002,268002,Arran Quay B,0.042718,0.000103,"MULTIPOLYGON (((-6.27330 53.35438, -6.27305 53..."

In [5]:
# Merge deprivation data with electoral district boundaries
boundaries_output = boundaries_dublin.merge(deprivation_dublin, left_on='CSOED_3409', right_on='ID06')
boundaries_output = boundaries_output[['ED_ID', 'ED_Name', 'HP2016rel', 'CENTROID_X', 'CENTROID_Y', 'geometry']]
boundaries_output.head(20)

,ED_ID,ED_Name,HP2016rel,CENTROID_X,CENTROID_Y,geometry
0,268025,BEAUMONT E,1.5,718194.731015585,737970.99825099,"MULTIPOLYGON (((-6.22254 53.38053, -6.22286 53..."
1,268043,CLONTARF EAST C,10.2,719746.371399413,736388.988063024,"MULTIPOLYGON (((-6.19451 53.36919, -6.19618 53..."
2,268017,BALLYMUN C,-11.4,715851.420682194,739831.584372745,"MULTIPOLYGON (((-6.25183 53.39913, -6.25216 53..."
3,268127,RATHFARNHAM,14.3,715221.113161602,730115.937147592,"MULTIPOLYGON (((-6.25896 53.30834, -6.25963 53..."
4,268002,ARRAN QUAY B,7.6,714510.229550955,735206.610141875,"MULTIPOLYGON (((-6.27330 53.35438, -6.27305 53..."
5,268062,EDENMORE,-11.2,720758.483336124,738934.861375051,"MULTIPOLYGON (((-6.17865 53.38119, -6.17992 53..."
6,268141,ROYAL EXCHANGE B,6.3,715664.884385435,733629.584154433,"MULTIPOLYGON (((-6.25934 53.34324, -6.26074 53..."
7,268073,GRANGE C,-11.3,722382.592167134,739717.371544865,"MULTIPOLYGON (((-6.15191 53.39527, -6.15324 53..."
8,268041,CLONTARF EAST A,4.0,721044.112893544,737537.385724805,"MULTIPOLYGON (((-6.16456 53.37412, -6.16692 53..."
9,268087,KILMORE D,-7.6,719234.926764996,739311.680431378,"MULTIPOLYGON (((-6.19759 53.38943, -6.20112 53..."
10,268119,PRIORSWOOD C,-12.0,720495.621617821,740729.307486084,"MULTIPOLYGON (((-6.17767 53.40699, -6.17842 53..."
11,268018,BALLYMUN D,-16.8,715126.436116818,739696.798652124,"MULTIPOLYGON (((-6.26412 53.39680, -6.26390 53..."
12,268036,CABRA WEST D,0.2,713104.741678835,735653.729024286,"MULTIPOLYGON (((-6.29368 53.35979, -6.29685 53..."
13,268121,PRIORSWOOD A,-6.1,718475.036138215,740907.834567408,"MULTIPOLYGON (((-6.20281 53.40816, -6.20389 53..."
14,268100,MERCHANTS QUAY C,3.2,714532.295601175,733397.720844365,"MULTIPOLYGON (((-6.27245 53.33894, -6.27242 53..."
15,268009,BALLYBOUGH A,-5.8,716804.474484662,735760.970693854,"MULTIPOLYGON (((-6.24238 53.36194, -6.24054 53..."
16,268155,WALKINSTOWN B,-2.9,711530.206889981,731495.098414622,"MULTIPOLYGON (((-6.31975 53.32301, -6.33160 53..."
17,268157,WHITEHALL A,6.0,715988.445020811,738293.052241751,"MULTIPOLYGON (((-6.24448 53.38248, -6.24553 53..."
18,268045,CLONTARF EAST E,11.0,719846.327932805,737330.036557811,"MULTIPOLYGON (((-6.19451 53.36919, -6.20295 53..."
19,268075,GRANGE E,-6.9,721328.742039212,739103.076824837,"MULTIPOLYGON (((-6.17460 53.39197, -6.17092 53..."

In [7]:
# Output geojson file with deprivation data by ED
boundaries_output.to_file('../static/data/deprivation_by_ed.geojson', driver='GeoJSON')